*body {
    margin:0px;
    padding: 0px;
    background: #fff;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial;
   
}

.contenedor{
    width:1100px;
    margin: 0 auto;
    border: 2px solid red;
}

    
.header{
    
    
}

ul li{
    list-style-type: none;
 }  

.header>img{
    width: 100%;
    background-size: cover;
    background-size: contain;
    height:400px;
    border: 1px solid blue;
}

.navbar{
    border: 2px solid yellow;
    display: flex;
    justify-content: center;
    background: whitesmoke;
    color: black;
    width: 700px;
    align-items: center;
}

ul{
    display: flex;
    justify-content:space-between;
   
    
}

.navbar .logo{
    width:100px;
    height:100px;
}