*body {
    margin: 0px;
    padding: 0px;
    background: whitesmoke;
    font-family: 'Arvo', serif;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nuosu SIL', serif;
    ;

}

.contenedor {
    width: 1200px;
    margin: 0 auto;
    max-width: 1100px;
    background-color: #f5f5f5;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 80px;
    background: skyblue;
    color: white;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 1px;

}

.logo {
    width: 90px;
    height: 80px;
    background: white;
    margin: 15px;
    border-radius: 50%;
}

ul li {
    list-style-type: none;
    margin: 20px;
    padding: 15px;
}

ul li:hover {
    background: white;
    cursor: pointer;
    color: skyblue;
    font-weight: bold;
}


.navbar {
    display: flex;
    justify-content: center;
    background: whitesmoke;
    color: black;
    width: 700px;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
}

.navbar .logo {
    width: 100px;
    height: 100px;
}

.photoheader>img {
    width: 1100px;
    height: 400px;

}

span {
    font-weight: bold;
}

.historia {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0eaea;
    letter-spacing: 1px;
    color: #1c2429;

}

.texto {

    width: 800px;
}

.stamp {
    width: 80px;
    height: 80px;
    margin-left: 10px;
}

h3 {
    text-align: center;
    color: #3b484f;
}

.options-luxurios-rooms {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.room-top {
    background: #f0eaea;
    width: 450px;
    margin: 15px;

}

.room-top>img {
    width: 450px;
    height: 250px;
}

.room-top>h3 {
    margin: 10px;
    text-align: left;
}

.room-top>p {
    margin: 10px;
}

/*Aqui comeca os quartos simples*/

.box-simple-rooms {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f0eaea;
    margin-bottom: 15px;
}


.room-simple>img {
    width: 300px;
    height: 200px;
    margin-top: 25px;
}

.room-simple>h3 {
    margin: 10px;
    text-align: left;
}

.room-simple>p {
    margin: 10px;
}

.room-simple {
    margin-bottom: 15px;
}

/*cores: 
#f5f5f5;
#f0eaea 
*/